[user]
    name = Jesus Aguilera
    email = jeaguil@github.com
[github]
    user = jeaguil
[alias]
    ll = !. "$HOME/.githelpers" && pretty_git_log
    la = !git ll --all
    p-re = !. "$HOME/.githelpers" && pull_remote
    s-pr = !. "$HOME/.githelpers" && switch_prefix
    su = !. "$HOME/.githelpers" && set_upstream
    clb = !. "$HOME/.githelpers" && clean_local_branches
    bvv = !. "$HOME/.githelpers" && color_verbose_branch
[core]
    pager = less -F -X
    editor = vim
[pager]
    branch = false
    diff = false
    log = false
[push]
    default = current
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
